.second-item{

}

.sidebar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.sidebar header{
    font-size: 22px;
    color: black;
    line-height: 70px;
    background: #FDD922;
    user-select: none;
    text-align: center;
}
.sidebar li{
    list-style: none;
    background-color: #FFFFFF;
}
.sidebar ul li{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    /* padding-left: 20px; */
    box-sizing: border-box;
    border-top: 1px solid black;
    transition: .4s;
}
.sidebar ul li:hover {
    padding-left: 10px;
}
.sidebar ul li i{
    margin-right: 10px;
}
.carosel-text{
    position: relative;
    top: 10px;
    right: 10px;
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
    .carosel-height{
        display: block;
        height: auto !important;
    }
}
